<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FRom_ns.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FRom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FRom_ns.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FRom_ns.Properties.Settings>
            <setting name="DialogPath" serializeAs="String">
                <value/>
            </setting>
        </FRom_ns.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FRom.Properties.Settings>
            <setting name="cfg_RecentBinFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="cfg_RecentAdrFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="cfg_OpenLastConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfg_dlgADRPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_dlgROMPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_ADRFilesPath" serializeAs="String">
                <value>adr\</value>
            </setting>
            <setting name="cfg_ROMFilesPath" serializeAs="String">
                <value>bin\</value>
            </setting>
            <setting name="cfg_ConsultPort" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="cfg_EmulatorPort" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_ConsultConnectAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfg_EmulatorConnectAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfg_EmulatorSaveFileAfterRead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfg_ConsultDiagECUType" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_ConsultKeepALive" serializeAs="String">
                <value>True</value>
            </setting>
        </FRom.Properties.Settings>
        <FRom_ns.Properties.Settings>
            <setting name="OpenLastConfig" serializeAs="String">
                <value>False</value>
            </setting>
        </FRom_ns.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
