<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InfoLibrary.Properties.Settings.dataConnectionString"
            connectionString="Data Source=|DataDirectory|\data\data.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>